<div class="singleTweet">
  <div class="row">
    <div class="col-lg-1">
      <img
        src="<%- tweet.User.image %>"
        alt="<%- tweet.User.firstname %> <%- tweet.User.lastname %>"
      />
    </div>
    <div class="col-lg-11">
      <p>
        <%- tweet.User.lastname %>
        <em
          >@<%- tweet.User.username %> - <%-
          tweet.createdAt.toLocaleDateString('en-us', { weekday:"short",
          year:"numeric", month:"short"}); %></em
        >
      </p>
      <p><%- tweet.Text%></p>
      <div class="d-flex justify-content-around">
        <em><i class="far fa-comment"></i> 20</em>
        <em><i class="fas fa-retweet"></i> 5</em>
        <em><i class="far fa-heart"></i> 80</em>
        <i class="fas fa-share"></i>
      </div>
    </div>
  </div>
</div>
